<form
    class="row login-area"
    [formGroup]='loginForm'
    (ngSubmit)="onSubmit()"
    novalidate>

    <section class="login-section col-12">
        <div class="row">
            <h1 class="mb-4 col-12 title--font-size font--roboto-bold">
                {{ 'main.general.login' | translate }}
            </h1>
        </div>

        <div class="col-12 p-0">
            <div
                class="group">
                <input
                    class="email-area"
                    formControlName="username"
                    type="text"
                    tabindex="1"/>

                <label>
                    {{ 'main.general.username' | translate }}
                </label>

                <span class="bar"></span>

                <div
                    *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched"
                    class="has-error help-block">
                    {{ 'main.error.empty-password' | translate }}
                </div>
            </div>

            <div
                class="group">
                <input
                    class="password-area"
                    formControlName="password"
                    type="password"
                    tabindex="2"/>

                <label>
                    {{ 'main.general.password' | translate }}
                </label>

                <span class="bar"></span>

                <div
                    *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched"
                    class="has-error help-block">
                    {{ 'main.error.empty-username' | translate }}
                </div>
            </div>
        </div>

        <div class="row align-content-end">
            <div class="example-button-row col">
                <button
                    mat-flat-button
                    class="send-button"
                    color="primary"
                    [ngClass]="{ 'sending': animationActive }"
                    type="submit"
                    [disabled]="loading || loginForm.invalid"
                    tabindex="3"
                >
                    {{ 'main.general.login' | translate }}
                </button>
            </div>
        </div>
    </section>
</form>
