language: node_js

node_js:
    - "10"

dist: trusty

sudo: required

branches:
    only:
        - master

before_script:
    - npm install -g @angular/cli @angular/core
    - npm i

script:
    - npm run tslint
    - npm run stylelint
    - npm run build:prod
