.page-title {
    margin-bottom: 45px;
}

.history-area-table {
    .mat-column-actions {
        min-width: 205px;
        max-width: 205px;
        button {
            display: none;
        }
    }
    tr:hover {
        .mat-column-actions {
            button {
                display: inherit;
            }
        }
    }
}
