<section class="container-fluid container-section font--roboto default--text-color body-text--font-size">
    <article class="row sticky-header">
        <app-header class="w-100"></app-header>

        <ngx-loading-bar></ngx-loading-bar>
    </article>

    <article class="row app-content p-3">
        <app-alert></app-alert>

        <main
            class="col no--padding"
            [ngClass]="authService.isAuthenticated() ? 'initial-margin' : 'mt-0'">
            <router-outlet></router-outlet>

            <section *ngIf="isBannerShown !== 'true' && this.isIos() && this.showBanner" class="banner-area">
                <section class="flex-column installation-banner">
                    <article class="col banner-header">
                        <strong class="mr-auto font-weight-bold">Install PWA</strong>

                        <button type="button" class="ml-2 ml-auto font-weight-bold cursor--pointer close" (click)="close()">
                            <span>&times;</span>
                        </button>
                    </article>

                    <article class="col banner-body">
                        <section class="d-inline-block">
                            <span class="">Install this webapp on your iPhone: tap </span>

                            <span class="icon-ios-share"></span>

                            <span>and then </span>

                            <span class="icon-plus-squared"></span>

                            <span> 'Add to Home Screen'!</span>
                        </section>
                    </article>
                </section>
            </section>
        </main>
    </article>
</section>
