.header-content {
	position: relative;
	box-shadow: 0 0 11px -4px #333;
	z-index: 2;

	.navbar {
		max-width: 900px;
		min-height: 65px;
		margin: 0 auto;
		padding: 0 1rem;

		.navbar-brand {
			.icon-find-replace::before {
				background: -webkit-linear-gradient(rgba(53, 166, 152, 0.4), #098);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-size: 24px;
				margin: 0;
			}

			p {
				font-size: 20px;
			}
		}

		.navbar-nav {
			.nav-item {
				.nav-link {
					padding: 1rem;
					cursor: pointer;
					font-size: 14px;
				}

				&.active {
					.nav-link {
						border-bottom: 3px solid #009688;
						box-sizing: border-box;
					}
				}
			}
		}

		.logout-button {
			font-size: 12px;
		}
	}

	.github-ribbon {
		svg {
			fill: #009688;
			color: #fff;
			height: 100%;
			position: absolute;
			top: 0;
			border: 0;
			right: 0;
		}

		&:hover {
			.octo-arm {
				animation: octoCat-wave 500ms ease-in-out;
			}
		}
	}

	@keyframes octoCat-wave {
		0%,
		100% {
			transform: rotate(0);
		}

		20%,
		60% {
			transform: rotate(-25deg);
		}

		40%,
		80% {
			transform: rotate(10deg);
		}
	}

	@media (max-width: 750px) {
		.github-ribbon {
			&:hover {
				.octo-arm {
					animation: none;
				}
			}
		}

		.github-ribbon {
			.octo-arm {
				animation: octoCat-wave 500ms ease-in-out;
			}

			svg {
				height: 65px;
				right: initial;
				left: 0;
				transform: scaleX(-1);
			}
		}
	}
}
