<header class="bg-light header-content">
    <nav class="navbar navbar-expand navbar-light no--padding flex-column flex-md-row flex-lg-row flex-xl-row">
        <a class="navbar-brand">
            <span class="icon-find-replace d-inline-block"></span>

            <p
                class="m-0 pl-1 col d-inline-block"
                aria-label="Currency Exchange">Currency<b>Exchange</b></p>
        </a>

        <div
            class="collapse navbar-collapse justify-content-start m-auto"
            *ngIf="authService.isAuthenticated()">
            <ul class="navbar-nav">
                <li
                    class="nav-item"
                    routerLinkActive="active">
                    <a
                        class="nav-link cursor-pointer mt-0 mt-md-2 mt-lg-2 mt-xl-2"
                        routerLink="converter"
                        aria-label="Currency converter">CURRENCY CONVERTER</a>
                </li>

                <li
                    class="nav-item"
                    routerLinkActive="active">
                    <a
                        class="nav-link cursor-pointer mt-0 mt-md-2 mt-lg-2 mt-xl-2"
                        routerLink="history"
                        aria-label="View conversion history">VIEW CONVERSION HISTORY</a>
                </li>
            </ul>
        </div>

        <button
            mat-button
            color="primary"
            class="nav-link cursor--pointer logout-button"
            (click)="authService.logout()"
            *ngIf="authService.isAuthenticated()"
            title="Logout">LOGOUT</button>
    </nav>
</header>
