.page-title {
	margin-bottom: 45px;
}

.history-area-table {
	overflow-y: auto;

	.mat-column-actions {
		min-width: 230px;
		max-width: 230px;

		button {
			display: none;
		}
	}

	tr:hover {
		.mat-column-actions {
			button {
				display: inherit;
			}
		}
	}
}
