:host {
	.not-found-area {
		.not-found-content {
			max-width: 900px;
			padding-top: 60px;
			padding-bottom: 60px;
			margin: 0 auto;

			h1 {
				font-size: 160px;
				margin-bottom: 0;
				margin-top: 0;
			}

			h2 {
				margin-top: 0;
			}

			p {
				text-align: left;
				padding-bottom: 32px;
			}
		}
	}
}
