{
	"extends": "stylelint-config-standard",
	"rules": {
		"at-rule-no-unknown": [
			true,
			{
				"ignoreAtRules": [
                    "mixin",
					"extends",
					"ignores",
					"include"
				]
			}
		],
		"indentation": "tab",
		"number-leading-zero": null,
		"unit-whitelist": [
			"em",
			"rem",
			"deg",
			"px",
			"%",
			"s",
			"vw",
			"vh",
			"ms"
		],
		"max-empty-lines": null,
		"block-closing-brace-newline-before": "always-multi-line",
		"block-closing-brace-space-before": "always-single-line",
		"color-no-invalid-hex": true,
		"comment-no-empty": true,
		"unit-case": "lower",
		"unit-no-unknown": true,
		"selector-attribute-quotes": "always",
		"string-quotes": "single",
		"max-nesting-depth": 6,
		"selector-max-compound-selectors": 6,
		"declaration-no-important": null,
		"selector-class-pattern": "[a-z-]+",
		"selector-id-pattern": "[a-z-]+",
		"font-family-no-duplicate-names": true,
		"string-no-newline": true,
		"property-no-unknown": null,
		"selector-type-no-unknown": null,
		"no-descending-specificity": null,
		"declaration-block-no-duplicate-properties": null,
		"no-empty-source": null,
		"no-duplicate-selectors": null,
		"font-family-no-missing-generic-family-keyword": null,
		"number-no-trailing-zeros": true,
		"no-eol-whitespace": null,
		"length-zero-no-unit": true,
		"block-opening-brace-newline-before": null,
		"block-opening-brace-space-before": "always",
		"declaration-bang-space-after": null,
		"declaration-bang-space-before": "always",
		"declaration-block-no-shorthand-property-overrides": null
	}
}
